@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

@media ((min-width:  360px) and (max-width:  375px) and                          (max-height:  667px)) or
       (                        (max-width:  360px) and (min-height:  640px) and (max-height:  667px)) {
.navbar a     { padding:  5px 10px; font-size: 20px; }
.menu_wrapper { padding: 16px; top: 200px; height: 350px; left:20px; right:20px; font-size: 12px; }

@keyframes slideLetter {
  40%,60%,100%{transform:translate3d(0,-200px,0)}
}

@keyframes expandLetter {
  0%{transform:translate3d(0,-200px,0)}
  100%{transform:translate3d(0,-100px,0); }
}
.letter                    { width:340px; height:190px; top: 350px; left:0px; right:0px; }
.letter span               { width:340px; height:40px; font-size: 50px; }
.letter span:first-of-type { margin-top:25px; }

#envolope { width:350px; height:200px; top:350px; left:0; right:0; }
.left     { top:-10px; left:-620px;               border-left: 600px solid transparent; border-right: 600px solid transparent; border-bottom: 350px solid red;       }
.right    { top:-10px;              right:-620px; border-left: 600px solid transparent; border-right: 600px solid transparent; border-bottom:350px solid #D60B0B;    }
.top_back {            left:-999px; right:-999px; border-left: 175px solid transparent; border-right: 175px solid transparent; border-top:180px solid rgb(168, 6, 6);}
.top      {            left:-999px; right:-999px; border-left: 175px solid transparent; border-right: 175px solid transparent; border-top:180px solid rgb(168, 6, 6);}
.top_flip {            left:-999px; right:-999px; border-left: 175px solid transparent; border-right: 175px solid transparent; border-top:180px solid rgb(168, 6, 6);}
.top.text:after { top: -180px; left: -40px; font-size: 40px; }

div#video        { right:  50px; bottom:  40px; }
div#video iframe { width:  65px; height:  45px; }
div#beach { background-size:  375px; }

#people   { left: 40px; bottom: 10px; width:  80px; }
#car      { bottom: 46px; left: 180px; width: 230px; }
div#sea   { height: 25px; }

.icons { top: 90px; left:  10px; }
.icons .row span { font-size: 16px; text-shadow: 4px 4px 0 rgba(96, 125, 139, 0.4); }

.moon          { width:  50px; height: 50px; top: 60px; right: 30px; box-shadow: inset 10px -5px 0 0 #b9b9b9; }
.moon .crater1 { width: 15px;  height: 15px; top: 10px; right: 10px; box-shadow: inset -0.15px 0.75px 0 0 #aaa;  }
.moon .crater2 { width:  5px;  height:  5px; top: 22px; right: 25px; box-shadow: inset -0.5px   0.25px  0 0 #aaa; }
.moon .crater3 { width:  8px;  height:  8px; top: 30px; right: 12px; box-shadow: inset -0.75px 0.375px 0 0 #aaa; }
}
