@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

@media (                        (max-width: 1600px) and (min-height:  769px) and (max-height: 1200px)) or
       ((min-width: 1367px) and (max-width: 1600px) and                          (max-height: 1199px)) {
.navbar a     { padding: 14px 28px; font-size: 28px; }
.menu_wrapper { padding: 16px; top: 310px; height: 800px; left:200px; right:400px; font-size: 24px; }
@media (max-width:  900px) {
.menu_wrapper { padding:  8px; top: 140px; height: 500px; left:50px; right:50px; font-size: 16px; }
}
@media (min-width: 901px) and (max-width: 1200px) {
.menu_wrapper { padding:  8px; top: 310px; height: 500px; left:100px; right:400px; font-size: 16px; }
}

@keyframes slideLetter {
  40%,60%,100%{transform:translate3d(0,-320px,0)}
}

@keyframes expandLetter {
  0%{transform:translate3d(0,-320px,0); }
  100%{transform:scale(1.1,1.1); transform:translate3d(0,-160px,0); }
}
.letter                    { width:640px; height:320px; bottom:  80px; left:0px; right:0px; }
.letter span               { width:500px; height:40px; font-size: 60px; }
.letter span:first-of-type { margin-top:55px; }

#envolope { width:680px; height:380px; bottom: 80px; left:0; right:0; }
.left     { bottom:0px; left:-620px;               border-left: 600px solid transparent; border-right: 600px solid transparent; border-bottom: 350px solid red;       }
.right    { bottom:0px;              right:-620px; border-left: 600px solid transparent; border-right: 600px solid transparent; border-bottom:350px solid #D60B0B;    }
.top_back { bottom:0px; left:-999px; right:-999px; border-left: 340px solid transparent; border-right: 340px solid transparent; border-top:340px solid rgb(168, 6, 6);}
.top      { bottom:0px; left:-999px; right:-999px; border-left: 340px solid transparent; border-right: 340px solid transparent; border-top:340px solid rgb(168, 6, 6);}
.top_flip { bottom:0px; left:-999px; right:-999px; border-left: 340px solid transparent; border-right: 340px solid transparent; border-top:340px solid rgb(168, 6, 6);}
.top.text:after { bottom: 300px; left: -60px; font-size: 80px; }

div#video        { right: 190px; bottom: 120px; }
div#video iframe { width: 236px; height: 200px; }
div#beach { background-size: 1600px; }

#people   { left: 80px; bottom: 45px; width: 160px; }
#cinema   { right: 200px; bottom: 10px; width: 220px; }
#car      { bottom: 46px; left: 180px; width: 230px; }
div#sea   { height: 70px; }

.icons {  right:  200px; top:  70px; height: auto; }
.icons .row span { left: 0px; font-size: 24px; text-shadow: 2px 2px 0 rgba(96, 125, 139, 0.4); }
@media (min-width:  900px) {
.icons {  right: 120px; top: 150px; height: auto; transform: rotate(20deg); }
.icons .row span { left: 30px; font-size: 50px; text-shadow: 4px 4px 0 rgba(96, 125, 139, 0.4); }
}

.moon          { width: 100px; height:100px; top: 100px;   right: 60px;   box-shadow: inset 20px -10px 0 0 #b9b9b9; }
.moon .crater1 { width: 30px;  height: 30px; top: 20px;    right: 20px;   box-shadow: inset -0.3px 1.5px 0 0 #aaa;  }
.moon .crater2 { width: 10px;  height: 10px; top: 45px;    right: 50px;   box-shadow: inset -1px   0.5px  0 0 #aaa; }
.moon .crater3 { width: 15px;  height: 15px; top: 60px;    right: 25px;   box-shadow: inset -1.5px 0.75px 0 0 #aaa; }
}
