@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

@media (                        (max-width: 1024px) and (min-height:  736px) and (max-height:  768px)) or
       ((min-width:  414px) and (max-width: 1024px) and (min-height:  600px) and (max-height:  736px)) {
.menu_wrapper { padding: 16px; top: 70px; height: 800px; left:350px; right:250px; font-size: 16px; }

@keyframes slideLetter {
  40%,60%,100%{transform:translate3d(0,-250px,0)}
}

@keyframes expandLetter {
  0%{transform:translate3d(0,-250px,0)}
  100%{transform:scale(1.1,1.1); transform:translate3d(0,-160px,0); }
}
.letter                    { width:510px; height:290px; top: 350px; left:0px; right:0px; }
.letter span               { width:500px; height:40px; font-size: 60px; }
.letter span:first-of-type { margin-top:35px; }

#envolope { width:525px; height:300px; top:350px; left:0; right:0; }
.left     { top:-10px; left:-620px;               border-left: 600px solid transparent; border-right: 600px solid transparent; border-bottom: 350px solid red;       }
.right    { top:-10px;              right:-620px; border-left: 600px solid transparent; border-right: 600px solid transparent; border-bottom:350px solid #D60B0B;    }
.top_back {            left:-999px; right:-999px; border-left: 262px solid transparent; border-right: 262px solid transparent; border-top:280px solid rgb(168, 6, 6);}
.top      {            left:-999px; right:-999px; border-left: 262px solid transparent; border-right: 262px solid transparent; border-top:280px solid rgb(168, 6, 6);}
.top_flip {            left:-999px; right:-999px; border-left: 262px solid transparent; border-right: 262px solid transparent; border-top:280px solid rgb(168, 6, 6);}
.top.text:after { top: -250px; left: -60px; font-size: 60px; }

div#video        { right: 145px; bottom: 110px; }
div#video iframe { width: 160px; height: 100px; }
div#beach { background-size: 1024px; }

#people   { left: 80px; bottom: 30px; width: 120px; }
#car      { bottom: 46px; left: 180px; width: 230px; }
div#sea   { height: 50px; }

.icons .row span { left: 30px; font-size: 30px; text-shadow: 4px 4px 0 rgba(96, 125, 139, 0.4); }

.moon          { width: 100px; height:100px; top: 100px;   right: 60px;   box-shadow: inset 20px -10px 0 0 #b9b9b9; }
.moon .crater1 { width: 30px;  height: 30px; top: 20px;    right: 20px;   box-shadow: inset -0.3px 1.5px 0 0 #aaa;  }
.moon .crater2 { width: 10px;  height: 10px; top: 45px;    right: 50px;   box-shadow: inset -1px   0.5px  0 0 #aaa; }
.moon .crater3 { width: 15px;  height: 15px; top: 60px;    right: 25px;   box-shadow: inset -1.5px 0.75px 0 0 #aaa; }
}
